<!--users/templates/users/dashboard.html-->

{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
         h2 {
            color: #5f788a;
            margin-top: 3rem;
            font-size:18px;
         }
        h3 {
            font-size:14px;
        }
        h4 {
            color: #5f788a;
        }
    </style>


    <h1>Bets Dashboard</h1>
    <form class="form-inline my-2 my-lg-0" action="{% url  %}">
      <input class="form-control mr-sm-2" name="u" id="u" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br/>
    {% for obj in bets %}
    <div class="content-section">
        <h1>{{ obj.title }}</h1>
        <h3>Owner: {{ obj.bet_owner_user_id.username }}</h3>
        <h3>Description: {{ obj.description }}</h3>
        <form action="/createUserBet/{{ obj.id }}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit">
        </form>
    </div>
    {% empty %}
    <div class="content-section"> No one has made a bet yet! You could be the first! <a href="{% url 'createBet' %}">Create Bet!</a></div>
    {% endfor %}
{% endblock %}
