{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
     h2 {
        color: #5f788a;
        margin-top: 3rem;
        font-size:18px;
     }
    h3 {
        font-size:14px;
    }
    h4 {
        color: #5f788a;
    }
</style>

<h1>Bet Against the House!</h1>
    {% for obj in bets %}

        <h2>{{ obj.title }}</h2>
        <h3>{{ obj.description }}</h3>
        <form action="/createUserBet/{{ obj.id }}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit">
        </form>

    {% empty %}
        <div class="content-section"> There are no house bets yet! Come back later! </div>
    {% endfor %}

{% endblock %}