{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Log In</h2>

<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div>
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Not registered? <a class ="ml-2" href="{% url 'register' %}">Register Here</a></small>
    </div>
</div>
{% endblock %}