{% extends 'users/base.html' %}
{% block content %}
    <style>
        label {
          background-color: lightblue;
          width: 200px;
          padding: 25px;
         }
        h1{
            text-align: center;
            padding: 25px;
        }
        h2 {
            color: #333333;
            font-size:18px;
         }
        h3 {
            font-size:14px;
        }
        h4 {
            padding-top: 15px;
            padding-bottom: 15px;
            color: #5f788a;
        }
        .col-lg-5{
            font-size: 20px;
            border-style: solid;
            border-width: 3px;
            border-radius: 10px;
            padding-bottom: 20px;
        }
        .num{
            font-size: 60px;
            font-style: bold;
        }
    </style>

    {% if messages %}
    <div class="content-section">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <h1>Hello, {{ user.username|default:'Guest' }} </h1>


    <div class="row">
        <div class="col-lg-5">
            Your total points: 
            <div class="num">{{ info.points }} </div>
            <!-- Button doesn't do anything yet-->
            <form action="/profile/{{ user_id }}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Top Off</button>
            </form>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            Your total steps: 
            <div class="num">{{ info.steps }} </div>
        </div>
    </div>

    <h4>Bets that you have created </h4>
    
    {% for obj in bets %}
        <div class="content-section">
            <h2>{{ obj.title }}</h2>
            <h3>Steps: {{obj.steps_wagered}}</h3> 
            <h3>Description: {{ obj.description }}</h3>
    <!--        deleteBet/{{obj.id}}-->
            <p><a href="{% url 'deleteBet' obj.id %}">Delete Bet! </a><a href="{% url 'updateBet' obj.id %}">Update Bet!</a></p>

        </div>

    {% empty %}
        <div class="content-section"> You don't have any active bets! <a href="{% url 'createBet' %}">Create Bet!</a></div>
    {% endfor %}

    <h4>Bets that you are betting on </h4>
    
    {% for obj in placed %}
        <div class="content-section">
            <h2>{{obj.bet_id.title}}</h2>
            <h3>Steps: {{obj.bet_id.steps_wagered}}</h3> 
            <h3>Description: {{ obj.bet_id.description }}</h3>
            <h3>Amount wagered:   {{ obj.amount_bet }} 
                {% if obj.betting_against %}
                AGAINST
                {% else %}
                FOR
                {% endif %}
            </h3>
        </div>
    {% empty %}
    <div class="content-section"> You aren't betting on any bets! <a href="{% url 'dashboard' %}">Find Bets!</a></div>
    {% endfor %}

    <h4>Finished bets that you bet on</h4>
        
    {% for obj in old_placed %}
        <div class="content-section">
            <h2>{{obj.bet_id.title}}</h2>
            <h3>Steps: {{obj.bet_id.steps_wagered}}</h3> 
            <h3>Description: {{ obj.bet_id.description }}</h3>
            <h3>Amount wagered:   {{ obj.amount_bet }} 
                {% if obj.betting_against %}
                AGAINST
                {% else %}
                FOR
                {% endif %}
            </h3>
            <h3> Result: 
                {% if obj.bet_id.achieved_goal != obj.betting_against %}
                WIN
                {% else %}
                LOSE
                {% endif %}
            </h3>
            <h3> Payout: {{ obj.payout }}</h3>
        </div>
    {% empty %}
    <div class="content-section"> You don't have any finished bets yet! Sit tight! </div>
    {% endfor %}
{% endblock %}