{% extends 'users/base.html' %}

{% block content %}
    <style>
        label {
          background-color: lightblue;
          width: 200px;
          padding: 25px;
         }
         h2 {
            color: #333333;
            font-size:18px;
         }
        h3 {
            font-size:14px;
        }
        h4 {
            color: #5f788a;
        }
    </style>

    <h1>Hello, {{ user.username|default:'Guest' }} this is your profile page!  </h1>

    <h4>Bets that you have created </h4>
    {% for obj in bets %}


    <label>
        <h2>{{ obj.title }}</h2>
        <h3>{{ obj.description }}</h3>
<!--        deleteBet/{{obj.id}}-->
        <p><a href="{% url 'deleteBet' obj.id %}">Delete Bet!</a></p>

    </label>

    {% endfor %}

    <h4>Bets that you are betting on </h4>
    {% for obj in placed %}
    <p>
        <h2>{{obj.bet_id.title}}</h2>
        <h3>{{ obj.bet_id.description }}</h3>

        <h2>Amount wagered:   {{ obj.amount_bet }} </h2>
    </p>

    {% endfor %}



{% endblock %}